{% extends 'base.html' %}

{% block main-content %}

	<form>
		 <div class="form-group">
		<input type="text" class="form-control" placeholder="Text input">
		</div>
	</form>


			<div class="row">
				<div class="col-xs-6 col-md-4">

					<ul class="list-group">
					  <li class="list-group-item">Category 1</li>
					  <li class="list-group-item">Category 2</li>
					  <li class="list-group-item">Category 3</li>
					  <li class="list-group-item">Category 4</li>
					  <li class="list-group-item">Category 5</li>
					</ul>
				</div>

			  <div class="col-xs-12 col-sm-6 col-md-8">

					<div class="list-group">
					  <a href="#" class="list-group-item active">
						<h4 class="list-group-item-heading">Title</h4>
						<p class="list-group-item-text">...</p>
					  </a>
					</div>
					<div class="list-group">
					  <a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Title</h4>
						<p class="list-group-item-text">...</p>
					  </a>
					</div>
					<div class="list-group">
					  <a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Title</h4>
						<p class="list-group-item-text">
								Linkify list group items by using anchor tags instead of list items.
								No need for individual parents around each element.
							</p>
					  </a>
					</div>
					<div class="list-group">
					  <a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Title</h4>
						<p class="list-group-item-text">
								Linkify list group items by using anchor tags instead of list items.
								No need for individual parents around each element.
							</p>
					  </a>
					</div>
					<div class="list-group">
					  <a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Title</h4>
						<p class="list-group-item-text">
								Linkify list group items by using anchor tags instead of list items.
								No need for individual parents around each element.
							</p>
					  </a>
					</div>
				</div>
			</div>

{% endblock main-content %}
